.aside {
  position: absolute;
  transition: 0.4s left;
  left: 0;
  z-index: 100;
}

.asideHidden {
  left: -280px;
}

.list {
  margin-top: 50px;
  height: calc(100vh - 106px) !important;
  min-width: 280px;
  max-width: 280px;
  background-color: #383d40;
  overflow-x: hidden !important;
}

.list ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden !important;
}

.createNoteContainer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2f3436;
  width: 280px;
  height: 50px;
  z-index: 900;
}

.createNoteContainer p {
  font-size: 0.7em;
  color: #ffffff;
  margin-left: 10px;
  text-transform: uppercase;
}

.createNoteBtn {
  margin-right: 10px;
  background-color: transparent;
  color: #aaaaaa;
  border: none;
  font-size: 2em;
  outline: 0;
  cursor: pointer;
}

.createNoteBtn:hover {
  color: #ffffff;
}

.verticalScroll {
  background-color: #ffffff;
}
