.listElement {
  min-height: 100px;
  width: 100%;
  font-size: 0.7em;
  padding: 13px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
  letter-spacing: 1px;
  user-select: none;
  cursor: pointer;
}

.listElement:hover {
  background-color: rgba(143, 164, 202, 0.2);
}

.activeElement {
  background-color: rgba(143, 164, 202, 0.5) !important;
}

.listElement p {
  font-weight: bold;
  margin: 4px 0;
}

.listElement span {
  font-size: 0.7em;
}
