.listElement {
  color: #aaaaaa;
  min-height: 40px;
  width: 100%;
  font-size: 0.7em;
  padding: 8px 16px;
  letter-spacing: 1px;
  user-select: none;
  cursor: pointer;
}

.listElement:hover {
  background-color: rgba(64, 70, 74, 0.7);
}

.activeElement {
  color: #ffffff;
  background-color: #40464a !important;
  border-left: 3px solid #ffffff;
}

.listElement p {
  font-size: 0.85em;
  font-weight: bold;
  margin: 4px 0;
}

.listElement span {
  font-size: 0.7em;
}
